<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Slich Slider -->
      <link href="vendor/slick/slick/slick.css" rel="stylesheet">
      <link href="vendor/slick/slick/slick-theme.css" rel="stylesheet">
      <!-- Icofont -->
      <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
      <!-- Font Icons -->
      <link href="vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
      <!-- Custom Css -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Material Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Temu Aku</title>

</head>
<body class="bg-white">
    <%- include('./partials/navbar') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <div class="container mt-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow-sm"  style="max-width: 700px; width: 100%; margin: 0 auto;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <img src="<%= profile.picture %>" alt="Profile Picture" class="rounded img-fluid mb-3" style="width: 200px; object-fit: cover;">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h2><%= profile.fullname %></h2>
                                                <% if (userId != profile.id) { %>
                                                    <button class="btn btn-primary btn-sm rounded-pill">
                                                        <i class="fas fa-bell me-1"></i> Send Email
                                                    </button>
                                                <% } else { %>
                                                    <a href="/<%= userId %>/profile/<%= profile.id %>/edit" class="btn btn-primary btn-sm rounded-pill">
                                                        <i class="fas fa-edit me-1"></i> Edit
                                                    </a>
                                                <% } %>                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h6><i class="fas fa-map-marker-alt text-primary me-2"></i> <%= profile.location %></h6>
                                                    <h6><i class="fas fa-calendar-alt text-primary me-2"></i> <%= profile.age %> years old</h6>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <h6><div class="rounded-pill border p-2"><i class="fas fa-quote-left text-primary me-2"></i>"<%= profile.motto %>"</div></h6>
                                                    <div class="d-flex flex-wrap justify-content-center">
                                                        <div class="badge bg-primary me-1">
                                                            <i class="fas fa-mountain me-1"></i> <%= profile.favorite1 %>
                                                        </div>
                                                        <div class="badge bg-primary me-1">
                                                            <i class="fas fa-mug-hot me-1"></i> <%= profile.favorite2 %>
                                                        </div>
                                                        <div class="badge bg-primary me-1">
                                                            <i class="fas fa-paw me-1"></i> <%= profile.favorite3 %>
                                                        </div>
                                                    </div>
                                                </div>                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <%- include('./partials/posts') %>
                </div>
            </div>
            <div class="col-md-3">                    
                <div class="position-sticky" style="top: 100px;">
                        <div class="card rounded-4 shadow-sm mt-3">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Likes in the Last 7 Days</h6>
                                <canvas id="likesChart" width="100%" height="100"></canvas>
                            </div>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>
                        const ctx = document.getElementById('likesChart');
                         new Chart(ctx, {
                            type: 'bar',
                            data: {
                            labels: <%- JSON.stringify(likesData.dateLabels) %>,
                            datasets: [{
                                label: 'Number of Likes',
                                data: <%- JSON.stringify(likesData.likeCounts) %>,
                                backgroundColor: 'rgba(249, 135, 117, 0.6)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                            },
                            options: {
                            scales: {
                                y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1,
                                    precision: 0
                                },
                                title: {
                                    display: true,
                                    text: 'Number of Likes'
                                }
                                },
                                x: {
                                }
                            }
                            }
                        });
                        </script>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery Js -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js -->
    <script src="js/custom.js"></script>
    <!-- Slick Js -->
    <script src="vendor/slick/slick/slick.min.js"></script>

    <script>
        document.querySelectorAll('.comment-toggle').forEach(button => {
            button.addEventListener('click', function() {
                const cardFooter = this.closest('.card-body').nextElementSibling;
                if (cardFooter && cardFooter.classList.contains('card-footer')) {
                    cardFooter.style.display = cardFooter.style.display === 'none' ? 'block' : 'none';
                }
            });
        });
    </script>
</body>
</html>